@charset "utf-8";
/*登录页面头部*/
#login_header{
    width:100%;
    height:130px;
    .re_top{
        height:30px;
        background:#fafafa;
        border-bottom: 1px solid #eeeeee;
        line-height: 30px;  
        .wrap{
            width:990px;
            height:30px;
            font-size: 12px;
            margin: 0 auto;
            color: #787878; 
            display: flex;
            justify-content:space-between; 
            ul{
                width:296px;
                height:30px;
                line-height: 30px; 
                display: flex;
                justify-content:space-around; 
                a{
                    color: #787878;
                    &:hover { color: #00a4ed; }
                }
                span{
                    padding-left: 13px;
                    padding-right: 13px;
                }
            }
        }
    }
    .re_bot{
        width:990px;
        height: 100px;
        margin: 0 auto;
        .left{
            width: 305px;
            padding-top: 17px;
        }
    }
}
/*banner部分*/
.re_banner{
    height: 689px;
    width:100%;
    background: #4ec6f8;
    .wrap{
        width:990px;
        height: 689px;
        background: #4ec6f8;
        margin: 0 auto;
        position: relative;
        .pic{
            width:640px;
            height: 438px;
            padding-top: 95px;
            float: left;
        }
        .re_box{
            width:387px;
            height: 409px;
            position: absolute;
            margin-left: 590px;
            margin-top: 110px;
            background: white;
            padding-left: 30px;
            padding-right: 30px;
            box-sizing: border-box;
            font-size: 12px;
            color: #000;
            /*头部分*/
            .re_header{
                width:316px;
                height: 80px;
                line-height: 100px;
                display: flex;
                justify-content: space-between;
                b{
                    font-size: 18px;
                    color: #666;
                }
                p{
                    padding-top: 4px;
                    a{
                        color: #00a4ed;
                    }
                }
               
            }
            /*form*/
            .center{
                form{
                    width:316px;
                    font-size: 14px;
                    div{
                        width:316px;
                        height:36px;
                        line-height: 36px;
                        border: 1px solid #bebebe;
                        margin-top:20px; 
                        font-family: 'microsoft yahei';
                        &:first-child{
                            position: relative;
                        }
                        span{
                            display: block;                           
                            width: 40px;
                            height:32px;
                            float: left;
                            background: url(/images/form-icon.png);
                            border-right: 1px solid #f0f0f0;
                        }
                        .us{background-position:-122px -14px;}
                        .ps{background-position:-122px -43px; }
                        input{
                            width: 274px;
                            height:33px;
                            line-height: 33px;
                            float: right;
                            outline: none;  
                            padding-left: 22px;
                            box-sizing: border-box;
                            &::-webkit-input-placeholder{ /*WebKit browsers*/
                                color: #dfdfdf;
                            } 
                        }
                        
                    }
                }
                .ck{
                    display: block;
                    width:316px;
                    height:36px;
                    line-height: 18px;
                    margin-top: 22px;
                    font-size: 12px;
                    color: #000;
                    display: flex;
                    justify-content: space-between;
                    input{
                        width: 14px;
                        height: 14px;
                        float: left;  
                    }
                    a{color: #00a5da;}
                }
            }
            /*bottom*/
            .bottom{
                height:110px;
                button{
                    width:340px;
                    height:44px;
                    background: #009de0;
                    color: white;
                    border: 0px;                  
                } 
                .fo_b{
                    width:319px;
                    height:64px;           
                    color: #999;
                    font-size: 11px;
                    padding-top: 47px;
                    .coagent{
                        position: relative;  
                        width:267px;
                        height:64px;
                        line-height: 64px;
                        float: left;  
                        dt{
                            width: 82px;
                            height: 64px;
                            float: left;                            
                        }
                        dd{
                            width: 24px;
                            height: 24px;
                            margin-left: 7px;
                            margin-top: 20px;
                            background-image: url(/images/form-icon.png);
                            background-repeat: no-repeat;
                            display: inline-block;           
                        }
                        .qq{background-position: -22px -193px;}
                        .sweibo{background-position: -52px -193px;}
                        .ali{background-position: -83px -193px;}
                        .bank{background-position: -114px -193px;}
                    }  
                    .right{  
                        width: 52px;
                        height: 64px;
                        line-height: 20px;
                        padding-top: 12px;  
                        box-sizing: border-box;
                        float: right;
                        .wx_entry{  
                            position: absolute;        
                            width: 50px;
                            height:50px;
                            margin-top: -38px;
                            right: 0px;
                            background: url(/images/form-icon.png) -600px -8px;
                        }
                    }       
                }
            }
        }
    }
}
/*register-footer*/
.footer{
    padding-top: 50px;
    padding-bottom: 30px;
    font-size: 11px;
    .wraper {
        width: 990px;
        margin-right: auto;
        margin-left: auto;
        .crdc{
            .copyright {
                height: 15px;
                line-height: 15px;
                background: url(/images/cprt.png) left center repeat-x;
                text-align: center;
                color: #999;
                span {
                    padding: 0 8px;
                    background: #fff;
                }
            }
        }
    }
}