/*
Error: Invalid CSS after "	display:none; ": expected "}", was "!important;"
        on line 148 of F:\CM_project\src\sass\etalage.scss

143:  #etalage .etalage_thumb{
144:  	width:100% !important;
145:  }
146:  .etalage_zoom_area div{
147: 	width:50 !important;
148: 	display:none; !important;
149: }
150: ul#etalage {
151: width: 100% !important;
152: }
153: .etalage_small_thumbs li img {

Backtrace:
F:\CM_project\src\sass\etalage.scss:148
D:/sass_/an/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:1165:in `expected'
D:/sass_/an/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:1101:in `expected'
D:/sass_/an/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:1096:in `tok!'
D:/sass_/an/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:643:in `block'
D:/sass_/an/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:711:in `declaration_or_ruleset'
D:/sass_/an/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:661:in `block_child'
D:/sass_/an/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:653:in `block_contents'
D:/sass_/an/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:642:in `block'
D:/sass_/an/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:401:in `media_directive'
D:/sass_/an/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:219:in `special_directive'
D:/sass_/an/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:194:in `directive'
D:/sass_/an/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:660:in `block_child'
D:/sass_/an/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:653:in `block_contents'
D:/sass_/an/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:117:in `stylesheet'
D:/sass_/an/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:42:in `parse'
D:/sass_/an/Koala/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:393:in `_to_tree'
D:/sass_/an/Koala/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:368:in `_render_with_sourcemap'
D:/sass_/an/Koala/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:285:in `render_with_sourcemap'
D:/sass_/an/Koala/rubygems/gems/sass-3.4.9/lib/sass/exec/sass_scss.rb:396:in `run'
D:/sass_/an/Koala/rubygems/gems/sass-3.4.9/lib/sass/exec/sass_scss.rb:62:in `process_result'
D:/sass_/an/Koala/rubygems/gems/sass-3.4.9/lib/sass/exec/base.rb:52:in `parse'
D:/sass_/an/Koala/rubygems/gems/sass-3.4.9/lib/sass/exec/base.rb:19:in `parse!'
D:/sass_/an/Koala/rubygems/gems/sass-3.4.9/bin/sass:13:in `<top (required)>'
D:/sass_/an/Koala/bin/sass:18:in `load'
D:/sass_/an/Koala/bin/sass:18:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"	display:none; \": expected \"}\", was \"!important;\"\A         on line 148 of F:\CM_project\src\sass\etalage.scss\A \A 143:  #etalage .etalage_thumb{\A 144:  	width:100% !important;\A 145:  }\A 146:  .etalage_zoom_area div{\A 147: 	width:50 !important;\A 148: 	display:none; !important;\A 149: }\A 150: ul#etalage {\A 151: width: 100% !important;\A 152: }\A 153: .etalage_small_thumbs li img {"; }
