/*
Error: Invalid CSS after "... { background: ": expected expression (e.g. 1px, bold), was "; position: rel..."
        on line 39 of F:\CM_project\src\sass\flexslider.scss

34: .no-js .slides > li:first-child {display: block;}
35: 
36: 
37: /* FlexSlider Default Theme
38: *********************************\/
39: .flexslider { background: ; position: relative; -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; ,0,0,.2); zoom: 1;}
40: .flex-viewport {max-height:1500px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
41: .loading .flex-viewport {max-height: 300px;}
42: .flexslider .slides {zoom: 1;}
43: .carousel li {margin-right: 5px}
44: /* Direction Nav *\/

Backtrace:
F:\CM_project\src\sass\flexslider.scss:39
D:/sass_/an/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:1165:in `expected'
D:/sass_/an/Koala/rubygems/gems/sass-3.4.9/lib/sass/script/lexer.rb:220:in `expected!'
D:/sass_/an/Koala/rubygems/gems/sass-3.4.9/lib/sass/script/parser.rb:573:in `assert_expr'
D:/sass_/an/Koala/rubygems/gems/sass-3.4.9/lib/sass/script/parser.rb:62:in `parse'
D:/sass_/an/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:1027:in `sass_script'
D:/sass_/an/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:880:in `value!'
D:/sass_/an/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:753:in `block in try_declaration'
D:/sass_/an/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:1141:in `call'
D:/sass_/an/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:1141:in `rethrow'
D:/sass_/an/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:766:in `try_declaration'
D:/sass_/an/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:696:in `declaration_or_ruleset'
D:/sass_/an/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:661:in `block_child'
D:/sass_/an/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:650:in `block_contents'
D:/sass_/an/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:642:in `block'
D:/sass_/an/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:635:in `ruleset'
D:/sass_/an/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:660:in `block_child'
D:/sass_/an/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:653:in `block_contents'
D:/sass_/an/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:117:in `stylesheet'
D:/sass_/an/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:42:in `parse'
D:/sass_/an/Koala/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:393:in `_to_tree'
D:/sass_/an/Koala/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:368:in `_render_with_sourcemap'
D:/sass_/an/Koala/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:285:in `render_with_sourcemap'
D:/sass_/an/Koala/rubygems/gems/sass-3.4.9/lib/sass/exec/sass_scss.rb:396:in `run'
D:/sass_/an/Koala/rubygems/gems/sass-3.4.9/lib/sass/exec/sass_scss.rb:62:in `process_result'
D:/sass_/an/Koala/rubygems/gems/sass-3.4.9/lib/sass/exec/base.rb:52:in `parse'
D:/sass_/an/Koala/rubygems/gems/sass-3.4.9/lib/sass/exec/base.rb:19:in `parse!'
D:/sass_/an/Koala/rubygems/gems/sass-3.4.9/bin/sass:13:in `<top (required)>'
D:/sass_/an/Koala/bin/sass:18:in `load'
D:/sass_/an/Koala/bin/sass:18:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"... { background: \": expected expression (e.g. 1px, bold), was \"; position: rel...\"\A         on line 39 of F:\CM_project\src\sass\flexslider.scss\A \A 34: .no-js .slides > li:first-child {display: block;}\A 35: \A 36: \A 37: /* FlexSlider Default Theme\A 38: *********************************/\A 39: .flexslider { background: ; position: relative; -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; ,0,0,.2); zoom: 1;}\A 40: .flex-viewport {max-height:1500px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}\A 41: .loading .flex-viewport {max-height: 300px;}\A 42: .flexslider .slides {zoom: 1;}\A 43: .carousel li {margin-right: 5px}\A 44: /* Direction Nav */"; }
